<div class="home-wrapper">
  <div class="container-fluid">
  <div class="border community"></div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
      <!-- ========== CHANNEL FORM ========== -->
          <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
