<div class="home-wrapper">
  <div class="container">
  <div class="border community"></div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <br><br><br><br>New Channel<br>
      </div>
    </div>
  </div>
</div>
