<div class="home-wrapper">
  <div class="container-fluid">
  <div class="border community hidden-xs"></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <!-- ========== CHANNEL FORM ========== -->
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
