/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|family=Hind:300,500,600");

$base-font: "Hind", "Helvetica", "sans-serif";
$header-font: "Hind", "Helvetica", "sans-serif";

// <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
// font-family: 'Hind', sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;

$base-height: 1.4;


/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #FFAA00;
$green: #32B796;
$profile: #967DC6;
$community: #CC0000;
$litterature: #007582;
$technique: #FFAB40;
$underline: #FFDD00;
$stripe: #55B5BB;
$stripelight: #55B587;

// Gray scale
$greydarker:  #222222;
$greydark:    #333333;
$greydim:     #707070;
$grey:        #bbbbbb;
$greylight:   #e5e5e5;
$greylighter: #e9e9e9;
$greywhite:   #f6f6f6;
