<div class="lecture-wrapper">
  <div class="container">
    <div class= "row">
    <div class="hidden-xs border profile"></div><br>
      <h3 class="text-center">Livre d'or</h3><br>
      <div id="lecture-comments">
        <%= render 'all' %>
      </div>
    </div>
  </div>
</div>
