.lecture-wrapper {
  padding-top : 70px;
  min-height: 800px;
}

.lecture-menu {
  height: 100vh;
  margin-top: 80px;
}

.lecture-menu ul {
  list-style-type: none;
}

.lecture-video {
  padding: 20px 0px 20px 10px;
}

.lecture-content {
  background-color: $greylighter;
  margin-left: 10px;
  min-height: 400px;
  padding: 40px;
  border-radius: 0 6px 6px 6px;
}
