<div class = "banner-cookie"'">
  <div class= "banner-close">X</div>
  Le site Mediaclasse n'utilise les cookies que pour assurer la personnalisation de votre navigation. Google Analytics et le lecteur Youtube font des mesures de fréquentation parfaitement anonymes. Cliquez pour accepter ces conditions et poursuivre la navigation.
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.banner-cookie').on('click', function(event) {
        $(this).fadeOut();
        });
    });
  <% end %>
<% end %>
