<div class = "banner-cookie"'">
  <div class= "banner-close">X</div>
  En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies qui assurent la continuité de votre navigation et des mesures anonymes de fréquentation.
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('.banner-cookie').on('click', function(event) {
        $(this).fadeOut();
        });
    });
  <% end %>
<% end %>
