<div class="modal fade" id="DeleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="DeleteLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Supprimer mon compte</h2>
        <p>En supprimant votre compte, vous supprimez également toutes les informations qui lui sont liées, et vous enlevez votre chaîne ou votre blog de la communauté.</p>
        <p> ►  Souhaitez vous continuer ? </p>
        <div class="text-center">
          <%= simple_form_for(@user) do |f| %>
              <%= f.input :deleted, label: "Je confirme la suppression de ce compte" %>
              <%= f.submit class: "btn btn-primary hvr-glow", id:"profilesave", value: "Continuer" %>
          <% end %>
            <%= link_to edit_user_path do %>
              <p class="link-button hvr-glow"> Annuler </p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
