<div class="embed-responsive embed-responsive-16by9 lecture-video">
  <iframe width="854" height="480" src= "https://www.youtube.com/embed/<%= @lecture.video %>?showinfo=0&autoplay=0" allowfullscreen></iframe>
</div>
