<div class="embed-responsive embed-responsive-16by9 lecture-video">
  <iframe title="Vidéo sur <%= @meta_title %>" width="854" height="480" src= "https://www.youtube.com/embed/<%= @lecture.video %>?showinfo=0&autoplay=0&rel=0" allowfullscreen></iframe>
</div>
