
<footer class='footer'>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Contact</h1>
      <p>mediaclasse.fr@gmail.com<p>
      <p>S'incrire à la newsletter<p>
      <p>Participer</p>
    </div>
  </div>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Communauté</h1>
      <p>Twitter<p>
      <p>Facebook<p>
      <p>Youtube</p>
      <p>Proposer une chaîne</p>
    </div>
  </div>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Contact</h1>
      <p>mediaclasse.fr@gmail.com<p>
      <p>S'incrire à la newsletter<p>
      <p>Participer</p>
    </div>
  </div>
</footer>
