
<footer class='footer'>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Contact</h1>
      <p>mediaclasse.fr@gmail.com<p>
      <p>S'incrire à la newsletter<p>
      <p>Participer</p> <!-- ajouter link_to vers participation"
    </div>
  </div>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Communauté</h1>
      <p>Twitter <i class="fa fa-twitter" aria-hidden="true"></i>
      <!-- https://twitter.com/mediaclassefr?lang=fr -->
<p>
      <p>Facebook <i class="fa fa-facebook" aria-hidden="true"></i>
      <!-- https://www.facebook.com/mediaclasse/ --><p>
      <p>Youtube <i class="fa fa-youtube-play" aria-hidden="true">
<!--         https://www.youtube.com/user/mediaclasse -->
      </i>
</p>
      <p>Proposer une chaîne</p>
    </div>
  </div>
  <div class= "col-xs-4">
    <div class= "footer-part">
      <h1>Plan du site</h1>
      <p>Oeuvres & analyses<p>
      <p>Méthodes & techniques<p>
    </div>
  </div>
</footer>
