<div class="modal fade" id="PlanSecurity" tabindex="-1" role="dialog" aria-labelledby="PlanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Une sécurisation fiable des paiements</h2>
        <div class = "plan-cgv" >
          <p>
          ► Le service de paiement <a href="https://stripe.com/fr/customers" target="_blank"><u>Stripe</u></a> est utilisé internationalement par des milliers de sites (Uber, Spotify...). Leur réussite repose sur leur fiabilité.<br>
          ► <a href= "https://executive.lewagon.com/#partners" target="_blank"><u>Le Wagon</u></a> qui forme des centaines de développeurs tous les mois dans de nombreux pays, recommande Stripe sans hésitation.<br>
          ► L'intégralité du site est protégé par un <a href="https://www.cloudflare.com/fr-fr/" target= "_blank"><u>pare-feu et un chiffrement SSL/TLS</u></a> avec un certificat à jour (https et petit cadenas dans la barre d'adresse).<br>
          ► Les informations de carte sont ainsi <a href="https://stripe.com/docs/security/stripe" target= "_blank"><u>cryptées de bout en bout</u></a> : seule la banque accède aux données complètes pour déclencher le paiement.<br>
          ► Enfin, pour éviter les cas d'usurpation d'identité et de vols de carte, la banque peut ajouter une étape <a href= "https://www.certeurope.fr/blog/dsp2-et-authentification-forte-que-prevoit-la-directive-europeenne/" target="_blank"><u>d'authentification renforcée (DSP2)</u></a>.<br><br>

          N'hésitez pas à m'écrire si vous avez des questions, je reste disponible par email : mediaclasse.fr@gmail.com
          </p>
        </div>
          <div class="form-actions">
            <button type="link" class="btn btn-default" data-dismiss="modal" aria-label="Close">OK !</button>
          </div>
      </div>
    </div>
  </div>
</div>
