<div class="modal fade" id="PlanDelete" tabindex="-1" role="dialog" aria-labelledby="PlanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class= "text-left">
          <h2>Êtes-vous sûr de vouloir vous désabonner ?</h2>
          Lorsque vous arrêtez votre abonnement, les versements cessent immédiatement. Vous n'avez plus accès à mes contenus réservés, ni à votre espace "Abonnement" : il est donc conseillé de télécharger vos factures si vous souhaitez en garder une trace. Cependant vous conservez toutes les informations de votre "Profil".<br>
        </div>
        <% if current_user %>
          <div class="form-actions">
            <br>
            <%= link_to "Oui", cancel_plan_path, class: "btn btn-default" %><br><br>
            <button type="link" class="btn btn-default" data-dismiss="modal" aria-label="Close">Annuler</button>
          </div>
        <% else %>
          <%= render :template => "devise/sessions/new" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
