<div class="modal fade" id="PlanQuestion" tabindex="-1" role="dialog" aria-labelledby="PlanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class= "text-left">

          <% if !current_user %>
          <h2>Bouton inactif hors connexion</h2>
            Ce bouton est ici inactif car vous n'êtes connecté à aucun compte. Connectez-vous à votre compte pour ouvrir ou fermer un abonnement.
            <br><br>

          <% elsif current_user.plan.present? %>

            <h2>Votre abonnement est déjà entièrement payé !</h2>
            Ce bouton est inactif car votre paiement a été réglé en 1 seule fois : aucun versement n'est attendu de votre part. Votre accès à mes contenus réservés s'arrêtera automatiquement peu de temps après la date d'échéance.<br>

          <% else %>

            <h2>Vous ne participez pas actuellement.</h2>

            <% if current_user.expire %>
              Ce bouton est actuellement inactif car votre abonnement a été fermé le <%= current_user.expire.strftime '%d/%m/%Y' %>.
              <br><br>
              Soit vous avez cliqué sur le bouton "Cesser de participer", soit votre abonnement était limité dans le temps, soit votre carte bancaire a expiré. Dans tous les cas, un email vous a été envoyé, et aucun prélèvement n'a été effectué après cette date.<br><br>
            <% else %>
              Ce bouton est actuellement inactif car aucun abonnement ni aucun moyen de paiement ne sont associés à ce compte email : <%= current_user.email %><br><br>
            <% end %>

              Cependant, si vous pensez avoir un abonnement en cours, n'hésitez pas à me contacter par email, je vous répondrai personnellement dans les meilleurs délais : <span style="background:#FFFF22"><i>mediaclasse.fr@gmail.com</i><br><br>

          <% end %>
        </div>

          <div class="form-actions">
            <br>
            <button type="link" class="btn-default hvr-glow" data-dismiss="modal" aria-label="Close">OK !</button>
          </div>

      </div>
    </div>
  </div>
</div>
