<div class="modal fade" id="PlanCgv" tabindex="-1" role="dialog" aria-labelledby="PlanLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Conditions générales de vente</h2>
        <div class = "plan-cgv" >
          <p>Les présentes conditions régissent l’utilisation du site disponible à l’adresse www.mediaclasse.fr. Toute utilisation dudit site implique l’adhésion pleine et entière aux présentes conditions.</p>
          <h4>1. DÉFINITIONS</h4>
          <p>Utilisateur : tout visiteur du Site.</p>
          <p>Abonnement : Souscription de Services par un Abonné sur le Site.</p>
          <p>Abonné : Utilisateur ayant souscrit à un Abonnement sur le Site.</p>
          <p>Éditeur : La micro-entreprise Mediaclasse est identifiée sous le numéro SIRET 82259122800017, et est représentée par son gérant Monsieur Romain Boussot.</p>
          <p>Site : Site disponible à l’adresse www.mediaclasse.fr, à partir duquel le Service est accessible.
          Service : Fourniture par l’Éditeur de contenu éditorial dédié à des thématiques relevant de l’enseignement du Français.</p>

          <h4>2. INFORMATIONS LÉGALES</h4>
          <p>Le site disponible à l’adresse www.mediaclasse.fr est édité et exploité par la micro-entreprise Mediaclasse, désignée comme Éditeur.</p>
          <p>L’Éditeur peut être joint par téléphone au 06.85.18.65.73 ou par e-mail sur l’adresse mediaclasse.fr@gmail.com.<p>
          <p>Le directeur de la publication du Site est Monsieur Romain Boussot.
          L’hébergeur du Site est la société OVH, située au 2 rue Kellermann - 59100 Roubaix - France.</p>

          3. DESCRIPTION DU SERVICE
          <p>Le Site propose aux Utilisateurs d’accéder et de visionner du contenu en ligne relatif à des thématiques de l’enseignement du Français, du niveau secondaire au niveau supérieur, en contrepartie d’un Abonnement tel que prévu dans l’article 5.</p>
          <p>Il est précisé que le Service consiste seulement à fournir des informations en ligne et ne constitue pas un enseignement à distance.</p>

          <h4>3. ACCÈS AU SERVICE ET ABONNEMENT</h4>
          <p>Pour accéder au Service, l’Utilisateur se connecte au Site au moyen d’une connexion Internet ou mobile, s’inscrit sur le Site. L’Utilisateur peut alors souscrire un Abonnement auprès de l’Éditeur, moyennant le paiement d’un montant forfaitaire mensuel, tel que déterminé dans l’article 5, et selon la procédure décrite dans l’article 6.</p>
          <p>L’Abonnement permet le visionnage illimité des vidéos présentes sur le site, jusqu’à la résiliation de l’Abonnement par l’Abonné.</p>
          <p>L’Abonnement est automatiquement renouvelé tous les mois, à défaut de résiliation réalisée par l’Abonné.
          Pour résilier l’Abonnement, l’utilisateur trouve à sa disposition un bouton « Cesser de participer » dans son espace « Abonnement ». En cliquant sur ce bouton et après confirmation, l'abonnement est annulé, et les prélèvements relatifs à cet abonnement sont immédiatement arrêtés. La période d’abonnement engagée au moment de la résiliation ne sera pas remboursée.</p>
          <p>Si l’Utilisateur ne paye pas un abonnement mais qu’il s’inscrit au service, il aura accès gratuitement à un nombre limité de vidéos. Ce nombre de vidéos et la liste des videos gratuites peut être modifié par l’Éditeur sans période de préavis, et à tout moment, et ce sans aucun dédommagement quel qu’il soit.</p>

          <h4>4. IDENTIFIANT ET MOT DE PASSE</h4>
          <p>Lors de la souscription d’un Abonnement, l'Utilisateur doit renseigner un email et un mot de passe qui lui permettront de s’identifier et d’accéder aux Services pendant la durée de l’Abonnement.</p>
          <p>L’identifiant et le mot de passe d’un Abonné sont strictement confidentiels, personnels à chaque Abonné et à son usage exclusif et individuel. L’Abonné est responsable de l’utilisation de cet identifiant et de ce mot de passe, et garantit notamment qu’ils seront conservés secrets. Toutes opérations réalisées dans le cadre de l’identification relèvent, de façon irréfragable, de la responsabilité de l’Abonné et toute utilisation non conforme constitue un manquement aux termes du présent contrat, qui pourra entraîner la résiliation automatique et immédiate de l’Abonnement.</p>
          <p>En cas de perte ou de vol de l’identifiant et/ou du mot de passe, et si l’Abonné ne peut pas changer son mot de passe par lui-même via le service d’email automatique prévu à cet effet, l’Abonné pourra solliciter l’Éditeur par email afin de recevoir un email de réinitialisation du compte.</p>
          <p>L’Éditeur n’autorise qu’une seule connexion simultanée par Abonné. Sauf dans le cas de la mise en place d’un contrat spécifique, qui donne lieu à l’ouverture d’un compte dit « collectif », lequel prévoit l’autorisation d’un nombre défini de connections simultanées.</p>

          <h4>5. PRIX</h4>
          <p>L'utilisateur peut opter pour un paiement mensuel récurrent, ou bien opter pour un abonnement d'un an, payé en une seule fois.</p>
          <p>Lorsqu'il est mensuel, l'abonnement est renouvelé automatiquement tous les mois à la même date, et permet un accès intégral au contenu du site www.mediaclasse.fr jusqu’à résiliation de l’abonnement par l’Abonné.</p>
          <p>L'utilisateur peut choisir le montant de son abonnement mensuel dans une grille présentant 5 formules : "Prix réduit", "Individuel", "Participant", "Contributeur", "Mécène".
          <p>Lorsqu'il est annuel, le paiement est réglé en une seule fois, et l'abonnement s'arrête automatiquement à la date d'échéance.</p>

          <h4>6. PROCESSUS DE COMMANDE ET DE PAIEMENT</h4>
          <h4>6.1. Enregistrement</h4>
          <p>Pour souscrire un Abonnement, de façon à ne plus avoir de restriction d’usage, l’Utilisateur doit suivre un processus d'enregistrement automatique en plusieurs étapes et donner des informations obligatoires nécessaires au traitement de sa commande.</p>
          <h5>6.1.1. Identification</h5>
          <p>L’Utilisateur doit s’inscrire en renseignant son email et son mot de passe. Le bouton « Inscription » est prévu à cet effet sur la barre de navigation.</p>
          <h5>6.1.2. Paiement</h5>
          <p>L’Utilisateur valide les présentes Conditions Générales de Vente (en cochant la case prévue à cet effet) puis sélectionne l’Abonnement auquel il souhaite souscrire parmi les Abonnements décrits dans l’article 5.
          S'il choisi de régler par carte bancaire, l'Utilisateur renseigne ses informations de paiement : type de carte bancaire, le numéro de carte, la date d'expiration et le cryptogramme.</p>
          <p>S'il choisi de régler par virement, L’Utilisateur contacte l’Éditeur par E-mail (mediaclasse.fr@gmail.com) et suit la procédure de paiement décrite dans l'article 7.1.</p>
          <h4>6.2. Confirmation</h4>
          <p>La confirmation de l'Abonnement est consultable et à tout moment dans l'espace « Abonnement » de l'Abonné. Cette rubrique permet aussi à l’Abonné d'arrêter son abonnement, de télécharger les factures de son Abonnement en cours et de consulter ces présentes Conditions Générales de Vente.</p>
          <h4>6.3. Refus d'ouverture d’un Abonnement</h4>
          <p>L’Éditeur se réserve le droit d'arrêter un Abonnement en cas de litige de toute nature avec l’Utilisateur, en particulier en cas de défaut de paiement.</p>
          <h4>6.4. Traitement des réclamations</h4>
          <p>Le client est toujours présumé de bonne foi. Afin de déposer une réclamation, il devra expliquer de façon sincère et détaillée sa réclamation. Le traitement de sa réclamation sera effectué dans les meilleurs délais par Mediaclasse.</p>
          <p>Le client pourra envoyer un email à mediaclasse.fr@gmail.com afin de déposer sa réclamation.
          Toute réclamation devra comporter les éléments suivants : Nom et prénom, l’email qui a servi pour l’inscription, et le détail de la réclamation.</p>
          <p>Délai pour formuler les réclamations : Le client dispose d'un délai de 15 jours suivant la date de livraison effective de son abonnement pour formuler une réclamation. Au-delà de ce délai, aucune réclamation ne pourra être prise en compte.</p>

          <h4>7. PAIEMENT</h4>
          <h4>7.1. Paiement du prix</h4>
          <p>Deux moyens de paiement sont mis à disposition de l’Utilisateur :</p>
          <p>• Par carte bancaire (carte bleue, visa, eurocard, mastercard) le montant est prélevé automatiquement dès l’ouverture du compte, puis chaque mois, à la même date, jusqu’à résiliation de l’Abonnement par l’Abonné.</p>
          <p>• Par virement bancaire. L’Utilisateur contacte l’Éditeur par E-mail (mediaclasse.fr@gmail.com) afin de déterminer les conditions de l’abonnement (nombre d’utilisateurs, nombre de comptes, durée de l’abonnement, remises éventuelles). Puis, après acceptation de ces conditions par les deux parties, les informations nécessaires au virement (RIB) sont envoyées par E-mail. L’Abonnement est ouvert dès réception du paiement, et se termine automatiquement à la date d’échéance. Les conditions sont consultables à tout moment à partir de l’espace « Abonnement » de l’Abonné.</p>
          <h4>7.2. Paiement sécurisé</h4>
          <p>Le paiement par carte bancaire, fait l'objet d'un système de sécurisation et notamment des procédés de cryptage HTTPS et SSL. La sécurité du paiement bancaire est assurée par la société Stripe.</p>
          <p>Les informations de paiement ne sont pas enregistrées sur les serveurs de www.mediaclasse.fr. Les prélèvements, s'il y a lieu, sont alors assurés par STRIPE automatiquement, et seule la résiliation de l'abonnement par l’Abonné provoque la fin des prélèvements. À chaque nouvel abonnement, les informations liées aux cartes bancaires sont donc de nouveau demandées.</p>
          <p>L’Abonnement adopté par l’Utilisateur n’est considéré comme actif que lorsque les centres de paiement ont donné leur accord. En cas de refus, l’abonnement sera automatiquement arrêté et l’Utilisateur sera informé par e-mail.</p>
          <p>Les factures de l'Abonnement en cours sont consultables par l'Abonné depuis son espace « Abonnement », tant que l'Abonnement est actif.</p>
          <p>Les données enregistrées par les systèmes de paiement constituent la preuve des transactions financières. Afin de garder une trace de la transaction, il est conseillé à l’Utilisateur de conserver le notifications de retrait fournies par sa banque, contenant les informations essentielles de la transaction (montant, date et heure, n° d’autorisation).</p>
          <p>L’Utilisateur garantit qu'il est pleinement habilité à utiliser la carte de paiement utilisée pour le paiement de son Abonnement et que cette carte donne accès à des fonds suffisants pour couvrir la totalité du montant de son Abonnement.</p>
          <h4>7.3. Retard ou défaut de paiement</h4>
          <p>En cas de refus de la part de la banque d'un débit de carte bancaire ou bien d'anomalie de virement, l’abonnement sera automatiquement arrêté. Sous réserve que le service fonctionne sans anomalie, l’Abonné sera prévenu par E-mail de la fin de ses droits d’accès à l’intégralité des contenus.</p>

          <h4>8. DROIT DE RÉTRACTATION</h4>
          <p>L’Abonné peut accéder au Service dès l’achèvement de la transaction. Ainsi, la fourniture des Services par l’Éditeur débute avant l’expiration du délai de rétractation de 14 jours prévu par le Code de la consommation. Dans ces conditions, conformément à l’article L121-28, le droit de rétractation ne peut être exercé par l’Abonné suite à la souscription d’un Abonnement : en acceptant les présentes Conditions Générales de Vente, l’Utilisateur accepte donc expressément l’abandon de son droit de rétractation.</p>

          <h4>9. RESPONSABILITÉ DE L’Éditeur</h4>
          <h4>9.1. Contenu du Service</h4>
          <p>Il est rappelé que le Service consiste en la mise à disposition d’informations en ligne sur des thèmes précis, mais ne constitue pas un enseignement à distance. L’Éditeur ne garantit aucun résultat, ni aucun succès à aucun examen. Sa responsabilité ne saurait donc pas être engagée en cas d’échec à un examen quelconque ou de défaut d’obtention d’un résultat espéré.</p>
          <p>L’Éditeur ne garantit pas non plus la conformité au programme de l’éducation nationale au cours de la période concernée.</p>
          <h4>9.2. Disponibilité du Service</h4>
          <p>L’Éditeur garantit qu’il fournira ses meilleurs efforts pour assurer la disponibilité du Service.
          Cependant, l’Éditeur ne garantit pas une disponibilité constante du Service. Il ne saurait pas être tenu responsable, par exemple, des perturbations ou dommages inhérents aux réseaux de communications, de l’inaccessibilité du Service si cette inaccessibilité ne résulte pas des équipements qu’il maîtrise, des intrusions illicites ou utilisations non conformes des identifiants et mots de passe des abonnés, sauf s’il est démontré que de tels actes résultent de la défaillance de l’Éditeur.</p>

          <h4>10. PROPRIÉTÉ INTELLECTUELLE</h4>
          <p>Sauf stipulation contraire, l’Éditeur est titulaire à titre exclusif du Site et de tous contenus accessibles à partir du Site, y compris les vidéos d’informations et les textes.</p>
          <p>L’Éditeur autorise uniquement l’Abonné, en contrepartie du parfait paiement tel que décrit dans l’article 5, à accéder au contenu et en particulier à visionner les vidéos.</p>
          <p>Tous autres actes sont expressément interdits à l’Abonné. Il est notamment interdit à l’Abonné et en général à tout Utilisateur, de télécharger tout contenu accessible à partir du Site et/ou de diffuser ce contenu quel que soit le moyen.</p>
          <p>Il est également rappelé que l’accès aux Services grâce à l’utilisation de l’identifiant et du mot de passe d’un tiers est interdit et constitue un accès illicite au Service ainsi qu’un acte de contrefaçon.</p>
          <p>Les biens intellectuels présents sur le site, dans les documents ou dans les vidéos, sont des créations originales dont l’Éditeur possède tous les droits, ou bien relèvent du domaine public.</p>

          <h4>11. INFORMATIONS NOMINATIVES</h4>
          <p>Les informations dont la communication est demandée à l'Abonné ne sont utilisées que dans le cadre de l’ouverture d’un abonnement. Les informations supplémentaires qui pourraient être renseignées à titre facultatif (âge, niveau de formation) ne sont jamais communiquées à un tiers, et ne servent qu’à ajuster la pédagogie du Site.</p>
          <p>Conformément à la loi n°78-17 du 6 janvier 1978, l’Abonné peut à tout moment obtenir l’accès aux données détenues par l’Éditeur à son sujet et demander leur modification ou leur suppression. Pour ce faire, il suffit qu’il envoie un message en ce sens à l’Éditeur à l’adresse électronique suivante : mediaclasse.fr@gmail.com.
          Le site wwwmediaclasse.fr utilise des cookies pour garantir la continuité de la navigation, et des outils statistiques parfaitement anonymes utilisés uniquement dans le cadre d'une amélioration de la pédagogie du site.
          Votre logiciel de navigation peut être paramétré pour éviter l’utilisation des ces cookies. Voir la procédure sur le site de la CNIL www.cnil.fr.</p>

          <h4>12. LOI APPLICABLE ET COMPÉTENCES DES TRIBUNAUX</h4>
          <p>Les contrats conclus entre le Vendeur et le Client, ainsi que les présentes Conditions Générales de Vente sont soumises au droit français. En cas de litige, le Client pourra effectuer gratuitement une procédure de médiation, en contactant un Médiateur de la consommation désigné pour les litiges concernant la vente à distance de produits entre professionnels et consommateurs, indiqué sur le site internet dédié du Ministère de l’Economie et des Finances, disponible sur
          http://www.economie.gouv.fr/mediation-conso</p>
          <p>Vous pouvez aussi directement contacter un médiateur en utilisant le formulaire disponible sur le lien suivant :
          http://www.mediateurfevad.fr/index.php/espace-consommateur/</p>
          <p>Le Médiateur pourra uniquement être saisi par le Client si aucune réponse n’a été donnée suite à une réclamation effectuée en écrivant à l’adresse mediaclasse.fr@gmail.com.
          Dans un délai de trois mois à compter de la réclamation écrite adressée au Service Client, et si le litige n’a pas été déjà soumis à un Tribunal.</p>
        </div>
        <% if current_user %>
          <div class="form-actions">
            <br>
            <button type="link" class="btn btn-default" data-dismiss="modal" aria-label="Close">J'ai lu les Conditions Générales de Vente !</button>
          </div>
        <% else %>
          <%= render :template => "devise/sessions/new" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
