<div class="home-wrapper">
  <div class="container">
<!-- === EN-TÊTE === -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3>Liste des Abonnés avec leur ID Stripe</h3>
        <!-- ===== AFFICHER LES ABONNÉS ===== -->
        <%= @customer_infos %>
        <!-- ===== FIN DE PAGE ===== -->
      </div>
    </div>
  </div>
</div>

