<div class="home-wrapper">
  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-1 col-xs-offset-1">
      <%= link_to lecture_path(@document.lecture) do %>
        <div class="lecture-retour hvr-bubble-left">
        <p>Retour</p>
        </div>
      <% end %>
    </div>
      <div class="col-xs-8">
        <span style="position: fixed;padding:5% 5%;width: 55%;z-index: 0;">
          <img style="margin-left: 35%;width:15%"; src="https://www.media-shopping.ma/public/web/assets/images/loader.gif"><br>
          Patientez pendant le chargement et n'hésitez pas à rafraîchir plusieurs fois si le document ne se charge par correctement (F5 ou Ctrl+R).
        </span>
        <span style="position: fixed;padding:0px 0px;width: 50%;z-index: 10;">
        <iframe src="<%= @document.url %>" style="width:100%; height:calc(100vh - 110px); margin-top: 20px; z-index: 10;" frameborder="0"></iframe>
      </span>
      </div>
    </div>
  </div>
</div>

