footer {
  width:100% !important;
  background-color: $greydark;
  height: 230px;
  border-top: 30px solid transparent;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  color: silver;
}

footer h3 {
  font-size: 14px;
}

footer p {
  font-size: 12px;
}

footer a {
  color: silver;
}

footer a:hover {
  color: white;
}

.footer-part {
  padding: 20px;
  justify-content: space-around;
}

footer .fab {
  font-size: 22px;
  display: inline;
  margin-bottom: 5px;
  margin-right: 10px;
  line-height: 1.8;
}



