<h1>Oeuvres et analyses</h1>
<p>Find me in app/views/courses/litterature.html.erb</p>

    <% @litterature.each do |c| %>
     <ul>
        <li>
          <% if c.picture? %>
            <%= cl_image_tag c.picture.path, width: 200, height: 300, crop: :fill %>
          <% end %>
        </li>
        <li> <h1> <%= c.title %> </h1> </li>
        <li> <h3> <%= c.description %> </h3> </li>
      </ul>
    <% end %>

  </div>
</div>


