<h1>Oeuvres et analyses</h1>
<p>Find me in app/views/courses/litterature.html.erb</p>

<!--   <div class="row"> -->

    <%# @course.each do |c| %>
<!--       <div class="col-md-4 col-sm-6 col-xs-12">
        <ul>
          <li> <h1> <%= c.title %> </h1> </li>
          <li> <p> <%= c.description %> </p> </li>
        </ul>
      </div> -->
    <%# end %>

<!--   </div> -->
