<div class="container-fluid">
  <div class="col-md-4 col-xs-1">
    <div id="method-directory">
      <ul>
        <div class="pargenre"><li><h4>Types et formes de texte</h4></li></div>
        <div class="pargenre"><li><h4>Histoire littéraire</h4></li></div>
        <div class="pargenre"><li><h4>Stylistique</h4></li></div>
        <div class="pargenre"><li><h4>Methodologie</h4></li></div>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <div class="scroll-wrapper">
      <% @technique.each do |t| %>
        <div class="card-genre">
           <ul>
            <li><%= cl_image_tag t.picture.path, :class => "style_image", width: 200, height: 300, crop: :fill %></li>
              <li> <h1> <%= t.title %>  </h1> </li>
              <li> <p> <%= t.description %> </p> </li>
            </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
