<p>Bonjour
<% unless @user.firstname.nil? %>
  <%= @user.firstname %>
<% end %> ! </p>
<p>Vous soutenez mon site www.mediaclasse.fr : merci à vous pour la confiance que vous me témoignez !</p>

<p>Je vous écris aujourd'hui car votre abonnement sur Mediaclasse est arrivé à expiration.</p>

<p>Ainsi, votre accès à mes contenus réservés va se fermer automatiquement, mais bien sûr, vous pouvez réactiver votre abonnement très facilement, pour cela, il suffit de vous rendre dans votre
<%= link_to 'espace "Abonnement"', plans_url %>.</p>

<p>En vous souhaitant une excellente journée,</p>
<p>Romain de Mediaclasse</p>
