.banner-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Reading_woman_on_a_couch%2C_by_Isaac_Israels.jpg/640px-Reading_woman_on_a_couch%2C_by_Isaac_Israels.jpg");
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  text-align: center;
}
.banner-title {
    margin-top: 20%;
    font-family: 'Hind', sans-serif;
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 20px;
  }
.banner-text {
    font-family: 'Hind', sans-serif;
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 16px;
  }
  .banner-newsletter {
    font-family: 'Hind', sans-serif;
    text-shadow: 1px 1px 2px black;
    color: white;
    font-size: 20px;
    padding-top: 200px;
  }
