.border {
  position: fixed;
  height: 100vh;
  width: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  left: 30px;
  z-index: -1;
}

.litterature {
  background-color: $litterature;
}

.technique {
  background-color: $technique;
}

.community {
  background-color: $community;
}

