.border {
  position: fixed;
  height: calc(100vh - 110px);
  width: 30px;
  margin-top: 20px;
  margin-bottom: 0px;
  left: 30px;
  z-index: -1;
}

.litterature {
  background-color: $litterature;
}

.technique {
  background-color: $technique;
}

.community {
  background-color: $community;
}

.profile {
  background-color: $profile;
}
