.border {
  position: fixed;
  height: calc(100vh - 70px);
  width: 5%;
  left: 0px;
  z-index: 0;
}

.litterature {
  background-color: $litterature;
}

.technique {
  background-color: $technique;
}

.community {
  background-color: $community;
}

.profile {
  background-color: $profile;
}

.comment {
  margin-left: 30px;
}
