.card-wrapper {
  padding-top: 70px;
  margin: 0 70px;
}
.card-course {
  position: relative;
  background-size: cover;
  min-height: 350px;
  max-width: 300px;
  margin: 20px 0;
  border-radius: 3px;
  border: 1px solid black;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.card-course:hover, .card-course:focus, .card-course:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

body span.card-title {
  color: white !important;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 26px;
  font-style: italic;
  text-shadow: 1px 1px 2px black;
}

body span.card-author {
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  text-shadow: 1px 1px 2px black;
}

.card-like label {
  position: absolute;
  font-size: 14px;
  font-weight: lighter;
  right: 30px;
  font-style: italic;
  min-width: 200px;
}

.card-like {
  position: absolute;
  bottom: 60px;
  left: 60px;
}

.card-course:hover, .card-course:focus, .card-course:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.card-empty {
  position: relative;
  height: calc(100vh - 220px);
  margin: 20px 0;
  border-radius: 3px;
  border: 1px solid black;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.card-empty:hover, .card-empty:focus, .card-empty:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.card-litterature {
  background-position: top;
  background-size: cover;
}

.card-technique {
  background-position: top;
  background-size: cover;
}
