.card-genre{
  margin: 10px;
  background-color: white;
  border-radius: 3px;
  border: 2px solid #ccc;
  display: flex;
}

.card-genre ul {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 5px;
  // display: inline;
}

.style_image {
  position: relative;
  margin-right: 20px;
  margin-left: 0px;
  float: left;
  border-radius: 3px;
  display: flex;
  flex: space-around;
}

.card-genre p {
  max-width: 95%;
}

.card-genre h1 {
  max-width: 95%;
  margin-bottom: 15px;
  margin-top: 10px;
}
