#directory {
  border-left: 30px solid $litterature;
}

#letterslider {
  margin-left: 150px;
}


#letterslider:hover {
  background-color: #ccc;
}

#parauteur {
  background-color: #1D1610;
  color: white;
  width: 120px;
  font-size: 10px;
  margin-left: 20px;
}

#parauteur h4 {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
