.footer {
  width:100%;
  background-color: $greydark;
  height: 200px;
  margin-top: 60px;
}

.footer h1 {
  font-size: 14px;
  color: white;
}

.footer p {
  font-size: 12px;
  color: white;
}

.footer-part {
  padding: 20px;
}


