.link-litterature:hover {
  text-decoration: none;
  border-bottom:5px solid $litterature;
  margin-top: 6px;
}

.link-technique:hover {
  text-decoration: none;
  border-bottom:5px solid $technique;
  margin-top: 6px;
}

.link-community:hover {
  text-decoration: none;
  border-bottom:5px solid $community;
  margin-top: 6px;
}

.link-profile:hover {
  text-decoration: none;
  border-bottom:5px solid $profile;
  margin-top: 6px;
}

a {
  text-decoration : none;
  color: black;
}

a:hover {
 color: black;
}
