.list-litterature {
  background-color: white;
  border-radius: 6px;
  min-height: 290px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.list-litterature-themes {
  font-size: 13px;
  color: grey;
  font-style: italic;
}

.list-litterature ul {
  list-style-type: none;
}

.list-litterature a:hover {
  text-decoration: none;
}

.list-litterature:hover {
  background-color: $greylighter;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  text-decoration : none;
}

.list-scroll {
  overflow: scroll;
  height: calc(100vh - 130px);
}

.list-search {
  text-align: center;
  padding: 10px;
}

.list-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.list-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  width: 300px;
}
.list-search-input:focus  {
  border: 1px solid #CCCCCC;
}
