#method-directory {
  border-left: 30px solid $technique;
  height: 80vh;
}

.pargenre{
  background-color: #1D1610;
  color: white;
  width: 140px;
  font-size: 10px;
  margin-left: 20px;
}

.pargenre h4 {
    font-size: 16px;
    text-align: center;
    padding: 10px;
}
