.modal-body {
  background-color: white;
  border-left: 35px solid $profile;
  padding: 40px;
}
#mySignUpModal {

}

#logi {
    border-left: 35px solid green;
}

.modal-body h2 {
  font-size: 22px;
  color: $profile;
  font-weight: bold;
}

.form-actions .btn-default {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: $profile;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 6px;
}

.form-inputs label {
  font-size : 15px;
  color: $grey;
}
