.plan-takhotakh {
  background-color: #202020;
  color: #00A0E5;
}

.plan-devise {
  text-align: center;
}

.stripe-button-el {
  text-align: center;
}
.plan-title {
  position: relative;
}

.plan-banner {
  background: url('ban2.png');
  background-size: cover;
  background-position: bottom;
  padding: 20px;
  color: white;
  height: 220px;
  margin-bottom: 25px;
  margin-top: 20px;
  line-height: 1;
  text-shadow: 2px 1px rgba(0,0,0,1);
}

.plan-frame {
  background-color: #E1E5E9;
  padding: 10px;
  margin: 10px;
}

.plan-stripe:hover {
  cursor: pointer;
}
.plan-stripe-acive:hover {
  cursor: pointer;
}
.plan-stripe-inactive:hover {
  cursor: pointer;
}

.plan-newsletter {
  position: absolute;
  bottom: 0px;
  right: 0px;

}
.plan-newsletter:hover {
  cursor: pointer;
}

.plan-banner h1 {
  font-size: 42px;
}

.plan-banner p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1;
}

.plan-wrapper {
  margin-top: 40px;
  margin-right: 80px;
  text-align: center;
}

.plan-question {
  padding: 13px 20px 0px 20px;
  margin: 20px;
  background-color: $profile;
  color: white;
  border-radius: 3px;
  min-width: 240px;
  text-align: center;
  cursor: pointer;
}

.plan-pointer {
  cursor: pointer;
  font-size: 17px;
}

.plan-cgv{
  height: 300px;
  overflow-y: scroll;
}

.plan-delete {
  font-size: 14px;
  padding: 13px 20px 0px 20px;
  margin: 20px;
  margin-left: 76px;
  background-color: #CC0000;
  color: white;
  border-radius: 3px;
  min-width: 179px;
  text-align: center;
  cursor: pointer;
}

.plan-delete-off {
  font-size: 14px;
  padding: 13px 20px 0px 20px;
  margin: 20px;
  margin-left: 76px;
  background-color: #660000;
  opacity: .7;
  color: white;
  border-radius: 3px;
  min-width: 179px;
  text-align: center;
  cursor: pointer;
}

.plan-banner h2 {
  color: $profile;
}

.plan-infos {
    font-size: 14px;
}

.plan-box {
  font-size: 24px;
  cursor: pointer;
}
.plan-checked {
  display: none;
}

.display-none {
  display: none;
}
.plan-stripebutton-inactive .slate {
  width: 100px;
  min-height: 37px;
  margin: auto;
  padding: 3px 12px;
  line-height: 30px;
  background: #slategray;
  opacity: 0.7;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: pointer;
}

.plan-stripebutton-inactive {
  width: 100px;
  min-height: 37px;
  margin: auto;
  padding: 3px 12px;
  line-height: 30px;
  background: #909090;
  opacity: 0.7;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: pointer;
}


.checkout-button {
  display: block;
  width: 100px;
  min-height: 37px;
  margin: auto;
  margin-bottom: -2px;
  padding: 4px 1px;
  line-height: 30px;
  background: slategray;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: pointer;
  border: none;
}

.plan-cbutton {
  width: 100px;
  min-height: 37px;
  margin-left: 21px;
  padding: 3px 12px;
  height: 30px;
  line-height: 30px;
  background: slategray;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: pointer;
}

.plan-stripe-active {
    font-size: 14px;
    padding: 0px 15px 10px 15px;
    margin: 3px;
    border-radius: 3px;
    width: 176px;
    height: 170px;
    text-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: inline-grid;

  .plan-infobulle {
    position: absolute;
    top: -100px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    min-width: 185px;
    height: 80px;
    color: black;
    font-size: 13px;
    background: $greylight;
    border-radius: 6px;
    opacity: 0;


    &:after {
      content: "";
      position: absolute;
      left: 25px;
      top: 75px;
      border: 20px solid transparent;
      border-right-color: $greylight;
      border-top-width: 0px;
      border-bottom-width: 24px;
      border-left-width: 0px;
      border-right-width: 20px;
    }
  }
  :hover + .plan-infobulle {
    display: block;
    opacity: 0;
    z-index: 2;

  }
}

.plan-stripe-inactive {
    font-size: 14px;
    padding: 0px 15px 10px 15px;
    margin: 3px;
    display: inline-grid;
    border-radius: 3px;
    width: 176px;
    height: 170px;
    text-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

  .plan-infobulle {
    position: absolute;
    top: -100px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    min-width: 185px;
    height: 80px;
    color: black;
    font-size: 13px;
    background: $greylight;
    border-radius: 6px;
    opacity: 0;


    &:after {
      content: "";
      position: absolute;
      left: 25px;
      top: 75px;
      border: 20px solid transparent;
      border-right-color: $greylight;
      border-top-width: 0px;
      border-bottom-width: 24px;
      border-left-width: 0px;
      border-right-width: 20px;
    }
  }
  :hover + .plan-infobulle {
    display: block;
    opacity: 0;
    z-index: 2;

  }
}

.plan-stripe {
    font-size: 14px;
    padding: 0px 15px 10px 15px;
    margin: 3px;
    display: inline-grid;
    border-radius: 3px;
    width: 176px;
    height: 170px;
    text-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

  .plan-infobulle {
    position: absolute;
    top: -100px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    min-width: 185px;
    height: 80px;
    color: black;
    font-size: 13px;
    background: $greylight;
    border-radius: 6px;
    opacity: 0;


    &:after {
      content: "";
      position: absolute;
      left: 25px;
      top: 75px;
      border: 20px solid transparent;
      border-right-color: $greylight;
      border-top-width: 0px;
      border-bottom-width: 24px;
      border-left-width: 0px;
      border-right-width: 20px;
    }
  }
  :hover + .plan-infobulle {
    display: block;
    opacity: 0;
    z-index: 2;

  }
}

// div.plan-stripe h4 a {
//   color: white;
//   background: blue;
//   padding: 0px 10px 0px 10px;
//   border: 1px solid grey;
//   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
//   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7bbde0+0,1281e2+100 */
// background: #7bbde0; /* Old browsers */
// background: -moz-linear-gradient(top,  #7bbde0 0%, #1281e2 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  #7bbde0 0%,#1281e2 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  #7bbde0 0%,#1281e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bbde0', endColorstr='#1281e2',GradientType=0 ); /* IE6-9 */
// }



.grisclair {
  background-color: $greylight;
}

.grisfonce {
  background-color: $grey;
}

.vert {
  background-color: $stripelight;
}

.turquoise {
  background-color: $stripe;
}

.orange {
  background-color: $orange;
}

.pink {
  background-color: pink;
}

.red {
  background-color: $red;
}

.bleu {
  background-color: $blue;
}

.violet {
  background-color: $profile;
}

.darkorange {
  background-color: chocolate;
}

