.profile-edit-wrapper {
  padding: 50px;
  margin-top: 15px;
  padding-top: 5px;
  width: 90%;
  line-height: 1;
  background-color: #E9E9E9;
  border-radius: 4px;
}

.profile-edit-wrapper input {
  width: 85%;
  height: 35px;
  margin-bottom: 5px;
}

.profile-edit-wrapper h2 {
  color: #B4A7D6;
  font-size: 22px;
}
