#sidebar {
  padding-right: 8px;
  height: calc(100vh - 154px);
  overflow: auto;
}

#sidebar-letter {
  text-align: center;
  width: 30px;

  &.disabled{
    color: grey;
    cursor: default;
  }
}

#sidebar-letter:hover:not(.disabled) {
  background-color: black;
  text-decoration: none;
  color: white;
}

#sidebar-parauteur {
  color: white;
  width: 160px;
  font-size: 10px;
  position: absolute;
  top: -70px;
  left: -100px;
}

#sidebar-parauteur h4 {
  background-color: black;
  font-size: 18px;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-bottom: 10px;
}

#sidebar-category {
  width: 160px;
  font-size: 10px;
  margin: -10px 0px 0px -100px;
  position: fixed;
}

#sidebar-category h4.active {
  color: white;
  background-color: black;
}

#sidebar-category h4 {
  background-color: $greywhite;
  color: $greydark;
  font-size: 18px;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-bottom: 10px;
  border-radius: 3px;
}

#sidebar-category a {
  text-decoration: none;
}

#sidebar-category h4.active:hover {
  opacity: .8;
  color: white;
  background-color: black;
}

#sidebar-category h4:hover {
  background-color: $greylighter;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  text-decoration : none;
}

.sidebar-like {
  top: 50px;
  margin-left: 50px;
  z-index: 1;
}

.sidebar-like :hover{
  cursor: pointer;
}

.sidebar-like label{
  font-weight: lighter;
  font-style: italic;
  padding-right: 40px;
    padding-left: 0;
  margin-left: -10px;
}

// SIDEBAR CATEGORY XS
//
#sidebar-category-xs {
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#sidebar-category-xs h4.active {
  color: white;
  background-color: black;
}

#sidebar-category-xs h4 {
  background-color: $greywhite;
  color: $greydark;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
}

#sidebar-category-xs a {
  text-decoration: none;
}

#sidebar-category-xs h4.active:hover {
  opacity: .8;
  color: white;
  background-color: black;
}

#sidebar-category-xs h4:hover {
  background-color: $greylighter;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  text-decoration : none;
}
