.tabs {
  background: white;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs span {
  color: white;
}
.tabs span:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}

.tab .litterature {
  background: $litterature;
}

.tab .technique {
  background: $technique;
}

.tab:first-child {
  border-radius: 6px 0 0 0;
}

.tab:last-child {
  border-radius: 0 6px 0 0;
}

.tab.active {
  background: $greylight;
  color: black;
}
