<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé à modifier votre mot de passe sur www.mediaclasse.fr ! Voici le lien qui vous permettra de le faire :</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas fait cette demande, ignorez simplement cet email.</p>
<p>Votre mot de passe sur mediaclasse.fr restera inchangé.</p>
