<!-- === EN-TÊTE === -->
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-sm-offset-3">
            <div class="plan-title">
              <h2>Plan collectif</h2><br>
              <h4>Félicitations ! Votre plan collectif est prêt à être activé !</h4>
              <p>Je vous invite à me contacter directement par email : mediaclasse.fr@gmail.com</p>
                ► Indiquez-moi le nombre d'utilisateurs et la durée de l'abonnement.<br>
                ► Vous pourrez laisser ce compte ouvert sur plusieurs postes en même temps.</br>
                ► Tous les utilisateurs auront le même compte et le même mot de passe, ne communiquez pas ces informations à des personnes extérieures.</br>
                ► Vos utilisateurs pourront accéder à l'intégralité de mes ressources. <br>
                ► Paiement en une seule fois : je vous communiquerai mon RIB pour le virement quand vous m'aurez bien confirmé que le compte fonctionne.<br>
                ► L'abonnement prendra fin simplement à la fin de la période choisie.<br>
            </div>
          </div>
        </div>
