<!-- === EN-TÊTE ===-->
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="plan-title">
              <br><h3>Merci pour votre participation !
              <!-- Vous participez actuellement pour un montant de <%= current_user.plan %> -->
              <!-- <% unless current_user.collective %> euros par mois. -->
              <!-- <% end %> -->
              </h3><br>
              <div class="plan-infos">
                ► C'est un prix libre : quel que soit le montant choisi, vous accédez à TOUT, sans limites ! Les forfaits les plus élevés permettent simplement de rendre possible le forfait réduit, et de soutenir le projet (sur le principe du mécénat).<br>
                ►  Le système de paiement est international et sécurisé à 100% (la connexion est cryptée de bout en bout). Le paiement est mensuel et automatique, mais vous pouvez l'arrêter immédiatement en cliquant sur le bouton rouge "Cesser de participer" en bas de la page. Par virement, vous payez en une seule fois.</i></br>
                ► Une question particulière ? Contactez-moi par email : <i>mediaclasse.fr@gmail.com</i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <!-- === PLANS  === -->
          <div class="col-sm-offset-3 col-sm-1 plan-wrapper">
            <% if current_user.plan === "deux" %>
              <div class= "plan-stripe deux">
                  <h4>Prix réduit</h4>
                  <p>Vous participez actuellement pour un montant de 2€ / mois !</p>
              </div>
            <% elsif current_user.plan === "quatre" %>
              <div class= "plan-stripe quatre">
                  <h4>Individuel</h4>
                  <p>Vous participez actuellement pour un montant de 4€ / mois !</p>
              </div>
            <% elsif current_user.plan === "cinq" %>
              <div class= "plan-stripe quatre">
                  <h4>Individuel</h4>
                  <p>Vous participez actuellement pour un montant de 5€ / mois !</p>
              </div>
            <% elsif current_user.plan === "huit" %>
              <div class= "plan-stripe huit">
                  <h4>Participant</h4>
                  <p>Merci ! Vous participez actuellement pour un montant de 8€ / mois !</p>
              </div>
            <% elsif current_user.plan === "dix" %>
              <div class= "plan-stripe huit">
                  <h4>Participant</h4>
                  <p>Merci ! Vous participez actuellement pour un montant de 10€ / mois !</p>
              </div>
            <% elsif current_user.plan === "quinze" %>
              <div class= "plan-stripe seize">
                  <h4>Contributeur</h4>
                  <p>Merci ! Vous contribuez actuellement pour un montant de 15€ / mois !</p>
              </div>
            <% elsif current_user.plan === "seize" %>
              <div class= "plan-stripe seize">
                  <h4>Contributeur</h4>
                  <p>Merci ! Vous contribuez actuellement pour un montant de 16€ / mois !</p>
              </div>
            <% elsif current_user.plan === "vingt" %>
              <div class= "plan-stripe seize">
                  <h4>Contributeur</h4>
                  <p>Merci ! Vous contribuez actuellement pour un montant de 20€ / mois !</p>
              </div>
            <% elsif current_user.plan === "vingt-cinq" %>
              <div class= "plan-stripe seize">
                  <h4>Contributeur</h4>
                  <p>Merci ! Vous contribuez actuellement pour un montant de 25€ / mois !</p>
              </div>
            <% elsif current_user.plan === "trente" %>
              <div class= "plan-stripe trente-deux">
                  <h4>Mécène</h4>
                  <p>Merci ! Vous participez actuellement pour un montant de 30€ / mois !</p>
              </div>
            <% elsif current_user.plan === "trente-deux" %>
              <div class= "plan-stripe trente-deux">
                  <h4>Mécène</h4>
                  <p>Merci ! Vous participez actuellement pour un montant de 32€ / mois !</p>
              </div>
            <% else %>
              <div class= "plan-stripe remise">
                  <h4>Remise spéciale</h4>
                  <p>Ce compte correspond à un montant de <%= current_user.plan %> !</p>
              </div>
            <% end %>
          </div>
        <!-- === BOUTONS === -->
          <!-- Remises et virements -->
          <div class="col-sm-5 plan-button"><br><br></div>
          <!-- Cesser de participer -->
          <div class="col-sm-offset-1 col-sm-5 plan-button">
            <% if current_user.collective %>
              <%= render 'shared/planquestion' %>
              Votre abonnement est payé !
                <div data-toggle = "modal" data-target = "#PlanQuestion" class="plan-delete-off hvr-glow">
                  <p>Cesser de participer</p>
                </div><br>
            <% else %>
              Arrêter mon abonnement :<br>
              <%= render 'shared/plandelete' %>
              <div data-toggle = "modal" data-target = "#PlanDelete" class="plan-delete hvr-glow">
                <p>Cesser de participer</p>
              </div>
            <% end %>
          </div>
        </div>
