<div class="plan-infos">
  ► C'est un prix libre, les participations les plus élevées permettant de financer le prix réduit, mais <u>dans tous les cas</u>, vous accédez à tout, tout de suite, et sans limite.<br>
  ► Les abonnements mensuels <u>sont reconduits tous les mois</u>, mais vous pouvez vous désengager n'importe quand en cliquant sur le bouton rouge "Cesser de participer". <br>
  ► Le système de paiement est <u>international et sécurisé avec les meilleures protections</u>.
  <%= render 'shared/plansecurity' %>
  <span data-toggle = "modal" data-target = "#PlanSecurity" class= "plan-pointer" >
     [<i class="fa fa-lock"></i>]
  </span>
  <br>
  ► Vos informations <u>restent confidentielles</u> et ne servent qu'à activer votre abonnement.<br><br>
</div>
