<div class="home-wrapper">
  <div class="container-fluid">
    <div class="border profile"></div>
      <!-- ========== PAYING USER ========== -->
      <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-7 col-sm-offset-3">
          <div class="plan-title">
            <h2>Participez pour un prix libre !</h2><br>
            <h4>Le prix libre rend mon travail accessible à tous :)</h4>
            <p>Vous n'achetez pas du contenu, vous participez à un projet. </p>
            <p>Ainsi, quel que soit le montant de votre participation mensuelle :</p>
            <p>
              ► Vous accédez de façon illimitée à toutes mes vidéos et documents.<br>
              ► Vous contribuez à mon projet sur le principe du mécénat. <br>
              ► Vous permettez à chacun d'accéder à mes ressources selon ses revenus.<br>
              ► Vous pouvez cesser de participer quand vous le souhaitez, en un clic. <br>
            </p>
          </div>
        </div>
      </div>
      <!-- ========== CLOSE WRAPPERS ========== -->
    </div>
  </div>
</div>

