<div class="home-wrapper">
  <div class="container-fluid">
    <div class="border profile hidden-xs"></div>
      <!-- ========== IF PLAN EXIST ========== -->
      <% if !current_user.plan.blank? %>
        <%= render 'index_singleplan' %>
      <!-- ========== ELSIF PLANS COLLECTIFS ========== -->
      <% elsif current_user.collective %>
        <%= render 'index_collectiveplan' %>
      <!-- ========== ELSE PLANS INDIVIDUELS ========== -->
      <% else %>
        <%= render 'index_noplan' %>
    <!-- ========== END ========== -->
      <% end %>
    <!-- ========== CLOSE WRAPPERS ========== -->
    </div>
  </div>
</div>

